[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
typing = "*"
matlab = "*"
matplotlib = "*"
xlrd = "*"
openpyxl = "*"
pandas = "*"
pygame = "*"
lxml = "*"
requests = "*"
beautifulsoup4 = "*"
fake-useragent = "*"
flask = "*"
pyqt5 = "*"
selenium = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
